[submodule "HelloVulkan/vendor/glfw"]
	path = HelloVulkan/vendor/glfw
	url = https://github.com/pacojq/glfw.git
[submodule "HelloVulkan/vendor/glm"]
	path = HelloVulkan/vendor/glm
	url = https://github.com/pacojq/glm.git
